body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;

}
/*Barra de Navegacion*/
a{
    writing-mode: vertical-lr;
    text-decoration: none;
    font-size:25px;
    color: #fff;
}
.masBanderas{
    background: rgba(0, 32, 91, 0.644);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.Noruega::first-letter{
    color:rgb(0,32,91);
}
.Jamaica::first-letter{
    color:rgb(255, 184, 28);
}
.Japon::first-letter{
    color:rgb(255, 0, 0);
}
.Noruega:hover{
    color:rgb(0,32,91);
}
.Jamaica:hover{
    color:rgb(255, 184, 28);
}
.Japon:hover{
    color:rgb(255, 0, 0);
}

/*Bandera de Japon*/
.cuadroDerecho, .cuadroIzquierdo{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}
.cuadroIzquierdo{
    align-items: flex-end;
    
}
.cuadroDerecho{
    
}
.izquierdoSuperior, .izquierdoInferior, .derechoSuperior, .derechoInferior{
    background: rgb(254, 0, 0);
    display: flex;
    height: 25%;
    width: 50%;
    border-radius: 100px ;
}

/*Parte Izquierda*/
.izquierdoSuperior{
        
   
}
.izquierdoInferior{
    
    
}
.izquierdoSuperior > .negroIzquierdo{
    
}

.izquierdoInferior > .negroIzquierdo{
    
}
/*Parte Derecha*/
.derechoSuperior{
    
}
.derechoInferior{
    
    
    
}
.derechoSuperior > .negroDerecho{
    
}

.derechoInferior > .negroDerecho{
    
}
    